* {
  margin: 0%;
  padding: 0%;
  transition: 0.2s linear;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(247, 235, 222);
}

.rounded-img {
  border-radius: 5%;
}

.nav-item.active {
  background-color: #e1e1ff;
  border-radius: 23px;
}

.carousel-img {
  min-height: 360px;
  max-height: 650px;
  width: 100%;
}
.carousel-item {
  background-color: black;
}
.carousel-caption {
  font-family: 'Cookie', cursive;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px #000, 0 0 25px #383a3a, 0 0 5px #fff;
  font-size: 40px;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top: 50%;
  left: 15%;
  height: 115px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .carousel-caption {
    font-size: 85px;
  }
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-image{
  min-height: 200px;
  max-height: 200px;
  border-radius: 0% 0% 10% 10%;
  overflow: hidden;
}

.rounded-card{
  border-radius: 15px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card:hover{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


/* Container holding the image and the text */
.contain {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bott-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.to-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.to-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bott-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.cente {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 768px) {
  .list-group {
    position: sticky;
    top: 15%;
    width: 17vw;
  }
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 999;
  width: 120px;
}
